@import '../../app.scss';
@import '../../variables.scss';

.privacy{
    position: relative;
    height: 100vh;
    padding: 100px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    justify-content: center;

    @include mobile{
        padding: 0 50px;
        // background: red;
        // height: 400px;
        // top: 280px;
    }
}