@import '../../app.scss';
@import '../../variables.scss';

.cookiespop{
    background: var(--main-color);
    opacity: .75;
    backdrop-filter: blur(25px);
    width: 350px;
    height: 150px;
    position: fixed;
    z-index: 9;
    margin-top: 400px;
    margin-left: 20px;
    border-radius: 10px;
    padding: 15px;
    padding-top: 25px;
    // box-shadow: 1px 0 1px 1px var(--secondary-color);
    border: 2px solid var(--secondary-color);

    button{
        position: absolute;
        right: 5px;
        top: 5px;
        color: var(--text-color);
    }

    @include mobile{
        width: 90vw;
        height: 100px;
        margin-top: 600px;
    }
}