:root {
    --MainBgColorLight: #f8fff8;
    --MainTextColorLight: #221F1F;
    --SecBgColorLight: #B81D24;
    --SecTextColorLight: #737373;
    --HTextColorLight: #E50914;
    --ContrastTextColorLight: #E50914;

    --DarkBgColor: #0b1215;
    --DarkTextColor: #FFFFFF;
    --SecDarkBgColor: #B81D24;
    --SecDarkTextColor: #B3B3B3;
    --HDarkTextColor: #E50914;
    --ContrastDarkTextColor: #E50914;
}


body.light {
    --MainBgColor: var(--MainBgColorLight);
    --MainTextColor: var(--MainTextColorLight);
    --SecBgColor: var(--SecBgColorLight);
    --SecTextColor: var(--MainTextColorLight);
    --HTextColor: var(--HTextColorLight);
    --ContrastTextColor: var(--ContrastTextColorLight);
}

body.dark {
    --MainBgColor: var(--DarkBgColor);
    --MainTextColor: var(--DarkTextColor);
    --SecBgColor: var(--SecDarkBgColor);
    --SecTextColor: var(--SecDarkTextColor);
    --HTextColor: var(--HDarkTextColor);
    --ContrastTextColor: var(--ContrastDarkTextColor);
}
























// $MainBgColor:  #f0f8ff;
// $MainTextColor: #101720;
// $SecBgColor: #fffff0;
// $SecTextColor:  #0B1215;
// $HTextColor:  orange;
// $ContrastTextColor: #FAF9F6;
// $DarkBgColor: red;
// $DarkTextColor: red;
// $SecDarkBgColor: red;
// $mainBgColor: red;