// variables.scss

:root {
    --main-color-light: #E50914;
    --secondary-color-light: #B81D24;
    --text-color-light: #221F1F;
    --sectext-color-light: #737373;
    --button-color-light: #E50914;
    --background-light: #f8fff8;
    
    --main-color-dark: #E50914;
    --secondary-color-dark: #B81D24;
    --text-color-dark: #FFFFFF;
    --sectext-color-dark: #B3B3B3;
    --button-color-dark: #E50914;
    --background-dark: #0b1215;
    
    // --main-color-dark: #0b1250;
    // --secondary-color-dark: #1a1a1a;
    // --text-color-dark: #fff;
    // --sectext-color-dark: red;
  }
  
  body.light {
    --main-color: var(--main-color-light);
    --secondary-color: var(--secondary-color-light);
    --text-color: var(--text-color-light);
    --sectext-color: var(--sectext-color-light);
    --button-color: var(--button-color-light);
    --background: var(--background-light);
  }
  
  body.dark {
    --main-color: var(--main-color-dark);
    --secondary-color: var(--secondary-color-dark);
    --text-color: var(--text-color-dark);
    --sectext-color: var(--sectext-color-dark);
    --button-color: var(--button-color-dark);
    --background: var(--background-dark);
  }
  